<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      P_BULLE - FlashCards
    </title>
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    @component('pages/components/layout', { title: 'Accueil' })

    <h1>Mes decks</h1>
    <div class="decks">
      @each((deck, index) in decks)
      <div class="deck">
        <h2>{{ deck.title }}</h2>
        <p>{{ deck.description }}</p>
        <span>67</span>
      </div>
      @end
    </div>
    @endcomponent
  </body>
</html>
