<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      P_BULLE - FlashCards
    </title>
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    @component('pages/components/layout', { title: 'Accueil' })

    <h1>Mes decks</h1>
    
    <table>
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Cartes</th>
        </tr>
      </thead>

      <tbody>
        @each ((deck, index) in decks)
        <tr>
          <th>{{ deck.title }}</th>
          <th>{{ deck.description }}</th>
          <th>67</th>
        </tr>
        @end
      </tbody>
    </table>
    @endcomponent
  </body>
</html>
