<header>
  <div class="header-container">
    <div class="header-left">
      <div class="logo-container">
        <img src="./images/logo.png" alt="Logo" />
      </div>
    </div>

    <div class="header-center">
      <a href="{{ route('home') }}">Accueil</a>
    </div>

    <div class="header-right">
      <div class="login-container">
        <p>Username</p>
        <button>Connexion</button>
      </div>
    </div>
  </div>
</header>