<header>
  <div class="header-container">
    <div class="logo-container">
      <img src="../../../public/logo.png" alt="logo">
    </div>
    <div class="login-container">
      <p>
        Username
      </p>
      <button>Connexion</button>
    </div>
  </div>
</header>